<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Accengage safari test</title>
    </head>
    <body>
        <button>Push optin result : <b><p id="res"></p></b></button>
        <button id="getPermission">get permission</button>
    </body>
    <script src="src/views/assets/script.js"></script>
</html>